{% load static %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'client_app/text_page.css' %}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="crt">
<center>
██╗  ██╗ ██████╗ ██╗  ██╗
██║  ██║██╔═████╗██║  ██║
███████║██║██╔██║███████║
╚════██║████╔╝██║╚════██║
     ██║╚██████╔╝     ██║
     ╚═╝ ╚═════╝      ╚═╝
     <div class="txt crt">File not Found
     
 (\_/)
 (='.'=)
('')('')
 </div>
     <div class="quote">
     On this the White Rabbit blew three blasts on the trumpet, 
     and then unrolled the parchment scroll, and read as follows:

   <i>‘The Queen of Hearts, she made some tarts,
      All on a summer day:
    The Knave of Hearts, he stole those tarts,
      And took them quite away!’ 
      </i>
      <cite> Alice's Adventures in Wonderland, Lewis Carroll</cite>
</div>
</center>
</body>